#initForm{
  background-color: rgb(232, 170, 78);
  border: 2px solid black;
  border-radius: 10px;
  width: 32vw;
  height: 20vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#initForm h1{
  font-size: 5vh;
  text-decoration: underline;
}

#initForm h2{
  font-size: 2vh  ;
}

#input{
  height: 1.5vh;
  width: 2vw;
}

#initForm .cInH2{
  display:flex;
  align-items: baseline;
}

#start{
  background-color: white;
  border-radius: 8px;
  height: 5.5vh;
  width: 6vw;
  align-self: flex-end;
  margin-bottom: 1vh;
}
